name: Snapcraft Pack

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  build-snap:
    name: Build Snap Package
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install Snapcraft
        run: |
          sudo apt-get update && sudo apt-get install -y snapd
          sudo systemctl enable --now snapd.socket || true
          sudo snap install core || true
          sudo snap refresh core || true
          sudo snap install snapcraft --classic

      - name: Snapcraft Pack
        run: snapcraft pack

      - name: Upload snap artifact
        uses: actions/upload-artifact@v5
        with:
          name: snap-package
          path: '*.snap'
